/* ========= RESET MẶC ĐỊNH ========= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========= BỐ CỤC CHUNG ========= */
html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: #b8e8fc; /* màu nền login */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
